.section {
    position: relative;
    margin-left: 100%;
    bottom: 865px;
    width: 822px;



    .personal-preview {
        display: flex;
        justify-content: space-between;


        .information-container {
            width: 492px;

            margin-left: 100px;
        }

        h1 {
            font-family: 'HelveticaNeue';
            font-weight: 700;
            font-size: 34px;
            line-height: 42px;
            color: #F93B1D;

        }

        h3 {
            display: flex;
            text-align: left;
            font-family: 'HelveticaNeue';
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 21px;

            img {
                padding: 3px;
            }
        }

        .about-header {
            font-family: 'HelveticaNeue';
            font-style: normal;
            font-weight: 700;
            font-size: 18px;
            line-height: 22px;
            color: #F93B1D;
        }

        .profile-photo {
            border-radius: 133px;
            width: 246px;
            height: 246px;
            margin-right: 75px;
        }
    }
}