.form-inputs {
    display: flex;
    flex-wrap: wrap;
    width: 77%;
    margin-left: 10.5%;

    .short-input-date-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .hint {
        width: 100%;
        font-family: 'Helvetica Neue';
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 21px;
        color: #2E2E2E;
    }
}


.submit-button,
.link-button {
    background: #6B40E3;
    color: #FFFFFF;
    border-radius: 4px;
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.08em;

}

.submit-button {
    border: none;
    width: 170px;
    height: 53px;
}

.link-button {
    text-decoration: none;
    margin-top: 189px;
    padding: 18px 60px;
}

.date-inputs {
    height: 48px;
    width: 367px;
    background: #FFFFFF;
    border: 1px solid #BCBCBC;
    border-radius: 4px;
}

.additional-button {
    background-color: #62A1EB;
    color: #FFFFFF;
    align-items: center;
    padding: 18px 60px;
    gap: 20px;
    text-decoration: none;
    border-radius: 4px;

}

.long-label-inputs {
    width: 798px;
    height: 48px;
    background: #FFFFFF;
    border: 1px solid #BCBCBC;
    border-radius: 4px;
}

.short-input-label {
    box-sizing: border-box;
    width: 371px;
    height: 48px;
    background: #FFFFFF;
    border: 1px solid #BCBCBC;
    border-radius: 4px;
    outline: none;
}

::placeholder {
    font-size: 16px;
    line-height: 21px;
    padding: 10px;
}

:focus::placeholder {
    opacity: 0;
}

.button-container {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 900px;

    a {
        margin: 0px;
    }
}



.error-handler {

    display: flex;

    .errorMsg {
        margin: 0;
        width: 14%;
        position: absolute;
        margin: 33px 0 0 5%;
        img {
            margin: 2px 0 0 10px;
            float: right;
        }
    }
    .valid-img {
        position: absolute;
        margin: 35px 0 0 18%;

    }
}


.long-input-error-handler {
    display: flex;
    .errorMsg {
        margin: 0;
        width: 18%;
        position: absolute;
        margin: 33px 0 0 23%;
        img {
            margin: 2px 0 0 15px;
            float: right;
        }
    }
    .long-input-valid-img {
        position: absolute;
            margin: 35px 0 0 40%;
    
    }
}
