.experince-module {
    margin-left: 10%;

    .first-date {
        display: flex;
        justify-content: center;
        flex-wrap: nowrap;

        .date-inputs {
            height: 48px;
            width: 371px;
            background: #FFFFFF;
            border: 1px solid #BCBCBC;
            border-radius: 4px;
        }
    }

    textarea {
        box-sizing: border-box;
        width: 798px;
        height: 123px;
    }

    hr {
        width: 798px;
        height: 0px;
        left: 149px;
        top: 759px;
        border: 1px solid #C1C1C1;
    }
}

.short-date-inputs-container {
    width: 100px;
}