.experince-module {
   
    .date-inputs {
        height: 48px;
        background: #FFFFFF;
        border: 1px solid #BCBCBC;
        border-radius: 4px;
    }
 
    textarea {
        box-sizing: border-box;
        width: 798px;
        height: 123px;
    }
   

}   .short-date-inputs-container{
    width: 100px;
}