.conatiner-for-two-block {
    display: flex;
    justify-content: space-between;
  
}
.form-inputs {
    display: flex;
    flex-wrap: wrap;
    width: 77%;
    margin-left: 10.5%;

    .name-lastname-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .hint {
        width: 100%;
        font-family: 'Helvetica Neue';
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 21px;
        color: #2E2E2E;
    }

    .upload-file {
        border: none;

        .upload-button {
            padding: 6px 14px;
            border-radius: 4px;
            margin-left: 20px;
            font-size: 13px;
            background-color: #0e80bf;
            color: white;
            cursor: pointer;
            border: none;
        }

    }

    textarea {
        box-sizing: border-box;
        min-width: 798px;
        max-width: 798px;
        min-height: 103px;
        max-height: 103px;
    }

    .email,
    .phone {
        input {
            width: 798px;
        }
    }
    .button-container-personal {
        display: flex;
        justify-content: right;
        width: 900px;
        a {
            margin: 0px;
        }
    }
}