    .upload-file {
        border: none;
        display: flex;
        gap: 2rem;
        align-items: center;
        font-family: 'Helvetica Neue';
        input[type="file"] {
            display: none;
        }

        .upload-button {
            padding: 6px 14px;
            border-radius: 4px;
            margin-left: 20px;
            font-size: 13px;
            background-color: #0e80bf;
            color: white;
            cursor: pointer;
            border: none;
            font-size: 14px;
            font-family: 'Helvetica Neue';
            font-weight: 400;
        }

    }
    textarea {
        box-sizing: border-box;
        min-width: 798px;
        max-width: 798px;
        min-height: 103px;
        max-height: 103px;
        padding: 10px;
    }

    .email,
    .phone {
        input {
            width: 798px;
        }
    }

    .button-container-personal {
        display: flex;
        justify-content: right;
        width: 900px;

        a {
            margin: 0px;
        }
    }